/* Board */
.Board{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-auto-rows: 1fr;
  width: 100%;
  max-width: 100vh; /*lol*/
}

.Board::before{
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.Board > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.Board > * {
  border: solid 3px rgba(255, 255, 255, 0.5);
}

/* Major Block */
.MajorBlock {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-auto-rows: 1fr;
}

/* Minor Block */
.MinorBlock{
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px rgba(255, 255, 255, 0.2);
  background-color: inherit;

}

.MinorBlock > button{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 100%;
    background: none;
    color: #FFF;
    border: none;
    padding: 0;
    margin: 0;

}

.MinorBlock > input{
  width:100%;
  height: 100%;
  text-align: center;
  font-size: 100%;
  border: none;
  background: none;
  color: #FFF;
  cursor: pointer;
}

.MinorBlock > input:hover{
  border: none;
  background-color: rgba(255,255,255, 0.1);
}
.MinorBlock > input:active{
  border: none;
  background-color: rgba(255,255,255, 0.1);
}
.MinorBlock > input:focus{
  border: none;
  background-color: rgba(255,255,255, 0.1);
}
.MinorBlock > input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}